<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.testng.eclipse.launchconfig">
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testng.remote.RemoteTestNG"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AssignmentMKT"/>
    <mapAttribute key="org.testng.eclipse.ALL_CLASS_METHODS"/>
    <listAttribute key="org.testng.eclipse.CLASS_TEST_LIST">
        <listEntry value="assignmentMKT.Add2num"/>
        <listEntry value="accessspecifier.AccessSpecifiers1"/>
        <listEntry value="practiceMKT.ThisKeyword"/>
        <listEntry value="practiceMKT.PracticeInterface"/>
        <listEntry value="practiceMKT.learningmethoveriddingwithreturntype"/>
        <listEntry value="assignmentMKT.PrintNumbers"/>
        <listEntry value="inheritance.PracticeMethodOverloadingNonStatic"/>
        <listEntry value="practiceMKT.PracticeInClass"/>
        <listEntry value="practiceMKT.justlearn"/>
        <listEntry value="practiceMKT.LearnabstractA"/>
        <listEntry value="assignmentMKT.AssignmentRamSalary"/>
        <listEntry value="practiceMKT.LearnabstractB"/>
        <listEntry value="assignmentMKT.MainClass"/>
        <listEntry value="assignmentMKT.ThisCalling"/>
        <listEntry value="assignmentMKT.AssignmentArray3"/>
        <listEntry value="assignmentMKT.AssignmentArray4"/>
        <listEntry value="assignmentMKT.SuperCalling3"/>
        <listEntry value="practiceMKT.LearnabstractC"/>
        <listEntry value="assignmentMKT.SuperCalling2"/>
        <listEntry value="assignmentMKT.StringModifications"/>
        <listEntry value="assignmentMKT.AssignmentArray1"/>
        <listEntry value="assignmentMKT.AssignmentArray2"/>
        <listEntry value="practiceMKT.ConstructorXDatatypes"/>
        <listEntry value="assignmentMKT.AbstractMethodNConcreteClass"/>
        <listEntry value="assignmentMKT.MultipleCatch"/>
        <listEntry value="inheritance.UsingSuper"/>
        <listEntry value="assignmentMKT.AgeNestedIfElse"/>
        <listEntry value="assignmentMKT.ExceptionalHandling"/>
        <listEntry value="practiceMKT.Dlearn"/>
        <listEntry value="assignmentMKT.MethodOveridding1"/>
        <listEntry value="assignmentMKT.MethodOveridding2"/>
        <listEntry value="practiceMKT.two"/>
        <listEntry value="inheritance.Outer2"/>
        <listEntry value="assignmentMKT.AssignmentNumDatatype"/>
        <listEntry value="accessspecifier.AccessSpecifier6"/>
        <listEntry value="assignmentMKT.ConstructorXDatatypes"/>
        <listEntry value="practiceMKT.One"/>
        <listEntry value="assignmentMKT.Absclass"/>
        <listEntry value="practiceMKT.LeraninheritanceB"/>
        <listEntry value="practiceMKT.PracticeConstructor"/>
        <listEntry value="assignmentMKT.SIBIIB"/>
        <listEntry value="practiceMKT.LeraninheritanceA"/>
        <listEntry value="assignmentMKT.AbstractClass"/>
        <listEntry value="practiceMKT.LeraninheritanceC"/>
        <listEntry value="accessspecifier.AccessSpecifier5"/>
        <listEntry value="assignmentMKT.AreaRST"/>
        <listEntry value="accessspecifier.AccessSpecifier4"/>
        <listEntry value="accessspecifier.AccessSpecifier3"/>
        <listEntry value="practiceMKT.PracticeMethodOverloadingNonStatic"/>
        <listEntry value="assignmentMKT.MethodOverloadingNonStatic"/>
        <listEntry value="inheritance.Outer"/>
        <listEntry value="assignmentMKT.ConcreteClass"/>
        <listEntry value="package2.AccessSpecifier2"/>
        <listEntry value="practiceMKT.Clearn"/>
        <listEntry value="packageforTestNG.FirstTest_TestNG"/>
        <listEntry value="assignmentMKT.EpochConverter"/>
        <listEntry value="practiceMKT.three"/>
        <listEntry value="assignmentMKT.PrintYourName"/>
        <listEntry value="assignmentMKT.Inputmismatch"/>
        <listEntry value="practiceMKT.Blearn"/>
        <listEntry value="assignmentMKT.LogicalOperators"/>
        <listEntry value="assignmentMKT.AreaOfCircle"/>
        <listEntry value="inheritance.Zoom1"/>
        <listEntry value="practiceMKT.AccessSpecifiercase4"/>
        <listEntry value="practiceMKT.Leraninheritance"/>
        <listEntry value="inheritance.Zoom2"/>
        <listEntry value="assignmentMKT.MethodOveridding3"/>
        <listEntry value="inheritance.Zoom3"/>
        <listEntry value="assignmentMKT.Arithmetic"/>
        <listEntry value="assignmentMKT.LoopForNotStart"/>
        <listEntry value="practiceMKT.D"/>
        <listEntry value="practiceMKT.C"/>
        <listEntry value="assignmentMKT.AssignmentConditionalstatement"/>
        <listEntry value="assignmentMKT.SixCOnditionalOp"/>
        <listEntry value="practiceMKT.E"/>
        <listEntry value="practiceMKT.PracticeConOp"/>
        <listEntry value="practiceMKT.PracticeLVGV"/>
        <listEntry value="practiceMKT.B"/>
        <listEntry value="assignmentMKT.Fourmethodscanner"/>
        <listEntry value="assignmentMKT.AssignemntMethodOverloading"/>
        <listEntry value="assignmentMKT.AssignmentDataType"/>
        <listEntry value="practiceMKT.ExampleInClass"/>
        <listEntry value="assignmentMKT.ConcreteA"/>
        <listEntry value="assignmentMKT.SuperCalling"/>
    </listAttribute>
    <listAttribute key="org.testng.eclipse.METHOD_TEST_LIST"/>
    <listAttribute key="org.testng.eclipse.PACKAGE_TEST_LIST"/>
    <stringAttribute key="org.testng.eclipse.PRE_DEFINED_LISTENERS" value=""/>
    <intAttribute key="org.testng.eclipse.TYPE" value="1"/>
</launchConfiguration>
